/*modification du CSS des objets body*/
body {
    /*mise en place d'un background issu d'une image*/
    background: url(../Images/MainBackground.gif) fixed no-repeat center;
    /*modification de la taille du background pour remplir l'écran*/
    background-size: 100% 100%;
    /*alignement du text au centre*/
    text-align: center;
    /*marge 0*/
    margin: 0;
    /*marge basse 7% de la hauteur*/
    margin-bottom: 7vh;
}

/*modification du CSS des objets h1*/
h1, h3 {
    /*soulignage du texte*/
    text-decoration: underline;
    /*modification de la couleur en blanc*/
    color: white;
}


/*modification du CSS des objets footer*/
footer {
    /*position fixe*/
    position: fixed;
    /*position en bas à droite de l'écran*/
    right: 0;
    bottom: 0;
    /*set de la couleur du texte en blanc*/
    color: white;
    /*alignement du text à droite*/
    text-align: right;
    /*border haute blache solide de 2 pixels*/
    border-top: solid 2px #67126e;
    /*couleur de background noire*/
    background-color: black;
    /*épaisseur 100%*/
    width: 100%;
    /*marge basse 0*/
    margin-bottom: 0;
    /*taille 5% de la hauteur de la page*/
    height: 5vh;
}

/*modification du CSS des objets d'id MainNav*/
#MainNav {
    /*épaisseur de 50%*/
    width: 50%;
    /*marge gauche et droite de 25%*/
    margin-left: 25%;
    margin-right: 25%;
    /*bordure blanche inset 5px*/
    border: inset 5px #67126e;
    /*couleur de fond noire*/
    background-color: black;
    /*couleur du text blanche*/
    color:white;
    /*marge haute*/
    margin-top: 5vh;
    /*marge basse*/
    margin-bottom: 10vh;
    /*hauteur 80% de la taille de la page*/
    height: 80vh;
}

/*modification du CSS des liens de class navLink*/
.navLink:link {
    /*couleur blanche*/
    color: white;
}

/*modification du CSS des objets nav*/
nav {
    /*position fixe*/
    position: fixed;
    /*en haut a gauche*/
    top: 0;
    left: 0;
    /*bordure solide de 2 pixels blanche*/
    border: solid 2px white;
    /*couleur de background noire*/
    background-color: black;
    /*épaisseur de 10%*/
    width: 10vw;
    /*padding de 15 pixels*/
    padding: 15px;
}

/*modification du CSS des objets de class TextCadre*/
.TextCadre {
    /*mode de display inline block*/
    display: inline-block;
    /*épaisseur 10% de l'écran*/
    width: 10vw;
    /*hauteur 10% de l'écran*/
    height: 10vh;
    /*bordure blanche solid de 1 pixel*/
    border: solid white 1px;
    /*couleur de background noir*/
    background-color: black;
    /*couleur de texte blanche*/
    color: white;
}

/*modification du CSS des objets d'id ClientTable*/
#ClientTable{
    /*marge gauche de 15%*/
    margin-left:15vw;
}

/*modification du CSS des objets d'id ClientTableSansID*/
#ClientTableSansID {
    /*marge gauche de 15%*/
    margin-left: 20vw;
}

/*modification du CSS des objets input et select*/
input, select {
    /*mode de display block*/
    display: block;
    /*marge basse 1% de l'écran*/
    margin-bottom: 1vh;
}

/*modification du CSS des objets d'id AjoutClientContenu*/
#AjoutClientContenu, #SuppressionClientContenu, #ModifierClientContenu, #ModifierClientContenuSub {
    /*épaisseur 50%*/
    width: 50%;
    /*marge guauche 25 % de l'écran*/
    margin-left: 25%;
    /*alignement du texte à guauche*/
    text-align: left;
    /*couleur de background noir*/
    background-color: black;
    /*couleur de texte blanche*/
    color: white;
}

/*modification du CSS des span*/
span{
    /*marge gauche de 1%*/
    margin-left:1vw;
    /*couleur de texte rouge*/
    color:red;
}